@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.niki-logo1 {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 20vw;
    font-size: 12vw;
    color: hotpink;
}

.niki-logo2 {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 32vw;
    font-size: 12vw;
    color: hotpink;
}

.hello-friends {
    font-family: 'Space Mono', monospace;
    position: absolute;
    font-size: 5vw;
}

.i-am {
    
}